@page
@using System.Globalization
@using Backoffice.Razor.Extensions
@model Backoffice.Razor.Pages.Index

@{
    ViewData["Title"] = "Index";
    var orders = Model.Orders.OrderByDescending(o => o.PurchaseDate).ToArray();
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
<div class="row">

<!-- Left side columns -->
<div class="col">
<div class="row">

<!-- Sales Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card sales-card">

        <div class="card-body">
            <h5 class="card-title">Sales <span>| Today</span></h5>

            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                    <h6>@orders.Length</h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
            </div>
        </div>

    </div>
</div><!-- End Sales Card -->

<!-- Revenue Card -->
<div class="col-xxl-4 col-md-6">
    <div class="card info-card revenue-card">

        <div class="card-body">
            <h5 class="card-title">Revenue <span>| This Month</span></h5>

            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                    <h6>€@(orders.Sum(o => decimal.Parse(o.Total, CultureInfo.GetCultureInfo("it-IT"))))</h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
            </div>
        </div>

    </div>
</div><!-- End Revenue Card -->

<!-- Customers Card -->
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">
            <h5 class="card-title">Customers <span>| This Year</span></h5>

            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                    <h6>1</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                </div>
            </div>

        </div>
    </div>

</div><!-- End Customers Card -->

<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title">Recent Orders <span>| Today</span></h5>

            @if (orders is { Length: >0 })
            {
                <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Products</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in orders)
                {
                    <tr>
                        <th scope="row">
                            <a asp-page="/OrderDetails" asp-route-id="@order.OrderId">#@order.OrderId[..8]</a>
                        </th>
                        <td>someone</td>
                        <td>
                            @(string.Join(", ", order.Products.Select(p => p.Name)))
                        </td>
                        <td>€@order.Total</td>
                        <td>
                            <span class="badge @order.Status.GetStatusBadge()">@order.Status</span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            }
            else
            {
                <p>No orders.</p>
            }


        </div>

    </div>
</div><!-- End Recent Sales -->

</div>
</div><!-- End Left side columns -->

</div>
</section>
