@page
@using System.Globalization
@using Backoffice.Razor.Extensions
@model Backoffice.Razor.Pages.Index

@{
    ViewData["Title"] = "Index";
    var orders = Model.Orders.OrderByDescending(o => o.PurchaseDate).ToArray();
}

<h6>Total orders: @orders.Length</h6>

<h6>Total revenue: €@(orders.Sum(o => decimal.Parse(o.Total, CultureInfo.GetCultureInfo("it-IT"))))</h6>

@if (orders is { Length: >0 })
{
    <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in orders)
    {
        <tr>
            <th scope="row">
                <a asp-page="/OrderDetails" asp-route-id="@order.OrderId">#@order.OrderId[..8]</a>
            </th>
            <td>someone</td>
            <td>
                @(string.Join(", ", order.Products.Select(p => p.Name)))
            </td>
            <td>€@order.Total</td>
            <td>
                <span class="badge @order.Status.GetStatusBadge()">@order.Status</span>
            </td>
        </tr>
    }
    </tbody>
</table>
}
else
{
    <p>No orders.</p>
}
