@page
@model LaPasta.Frontend.Razor.Pages.Orders
@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<div class="container pt-3">

    @if (Model.OrdersList is { Length: >0 })
    {
        <div class="row justify-content-center">

            @foreach (var order in Model.OrdersList)
            {
                <div class="col-10" style="margin-bottom: 10px;">
                    <div class="box-top">
                        <div class="row">
                            <div class="col-2 small">PURCHASE DATE</div>
                            <div class="col-2 small">TOTAL</div>
                            <div class="col-3 small">SENT TO</div>
                            <div class="col-5 text-end small">ORDER # @order.OrderId</div>
                        </div>

                        <div class="row">
                            <div class="col-2">@order.PurchaseDate.ToString("d MMMM yyyy")</div>
                            <div class="col-2">&euro; @order.Total</div>
                            <div class="col-3">SOMEONE</div>
                            <div class="col-5 text-end">Details - Receipt</div>
                        </div>
                    </div>
                    <div class="box-mid">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="mb-4">@order.Status</h4>
                                @if (order.Products is { Count: > 0})
                                {
                                    foreach (var item in order.Products)
                                    {
                                        <div class="row mb-3">
                                            <div class="col-3 px-3"><img src="./images/placeholder_612x612.jpg" width="100%" alt="Product image"/></div>
                                            <div class="col-9 ps-0">@item.Description</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div>No items found. Must be an error.</div>
                                }
                            </div>
                            <div class="col-4">
                                <button class="btn btn-warning mb-2 form-control">Track shipping</button>
                                <button class="btn btn-warning form-control">Issues with the order</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <a href="#">Cancel order</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No orders.</p>
    }
</div>

@section Scripts {
    @if (Model.HasMessage)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header border-bottom-0 p-3">
                    <strong class="me-auto">@Model.Message</strong>
                    <small>just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            const toastLiveExample = document.getElementById('liveToast')
            const toast = new bootstrap.Toast(toastLiveExample);
            toast.show();
        </script>

        Model.Message = "";
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/orders_page.css" asp-append-version="true"/>
}
