@page
@model LaPasta.FrontendRazor.Pages.CartModel
@{
    ViewData["Title"] = "My Cart";
}
<h1>@ViewData["Title"]</h1>

<div class="container p-2">
    @if (Model.Cart.Items is { Count: > 0})
    {
        <div class="row justify-content-center">
            <div class="col-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var (itemId, prod) in Model.Cart.Items)
                    {
                        <tr>
                            <td class="form-inline" style="width: 1%">
                                <form method="post" class="form-inline">
                                    <button asp-page-handler="Delete" asp-route-id="@itemId" class="btn btn-outline-danger btn-sm">Delete</button>
                                </form>
                            </td>
                            <td>@prod.Name</td>
                            <td>&euro; @prod.Price</td>
                        </tr>
                    }
                    <tr>
                        <th scope="row" colspan="2" class="text-end border-bottom-0">Total:</th>
                        <th scope="row" style="width: 1%; white-space: nowrap;" class="border-bottom-0">&euro; @Model.Total</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h3>Your cart is empty.</h3>
        </div>
    }
</div>
